:root {
  --fondo: #0f0f0f;
  --fondo-footer: #1f1f1f;
  --color-fuente: #ffffff;
  --color-fuente2: #cccccc;
  --color-gris-claro: #575656;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  background-color: var(--fondo);
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-fuente2);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gris-claro);
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
}

p {
  font-size: 17px;
}

nav {
  font-size: 20px;
}

.bg-light-gray {
  background-color: var(--fondo-footer);
}
.bg-black {
  background-color: var(--fondo);
}
.bg-gray {
  background-color: var(--fondo-footer);
}
.bg-transparent {
  background-color: #cccccc00;
}

@media (min-width: 1400px) {
  .texto-xxl {
    font-size: 25px;
  }
}

#sectionHome {
  height: calc(100vh - 71px);
}
.items-container label {
  position: relative;
  z-index: 9999;
  color: var(--color-fuente2);
  padding: 5px;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;

  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(104, 104, 104);
  --btn-bg-2: rgb(49, 49, 49);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  background-size: 280% auto;
  transition: 0.8s;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
}
.items-container label:hover {
  background-position: right top;
}
#sectionHome {
  display: flex;
  align-items: center;
}
#sectionHome .container-fluid {
  position: relative;
  z-index: 99;
}
#sectionHome .container-fluid img {
  height: 100%;
}
@media (max-width: 767px) {
  .img-experience {
    max-width: 200px;
  }
}
@media (max-width: 991px) {
  #sectionHome {
    height: auto;
    margin-top: 100px;
  }
  #sectionHome .container-fluid img {
    border-radius: 5px;
    height: auto;
  }
}

.logo {
  transition: transform 0.5s ease;
}
.logo:active {
  transform: rotate(360deg);
}

html.sr .load-hidden {
  visibility: hidden;
}

.shadow {
  box-shadow: 12px 9px 30px 0px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 12px 9px 30px 0px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 12px 9px 30px 0px rgba(0, 0, 0, 0.77);
}

.shadow-p {
  box-shadow: 12px 9px 30px 0px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 12px 9px 30px 0px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 12px 9px 30px 0px rgba(0, 0, 0, 0.77);
}
section[id] {
  scroll-margin-top: 70px;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 40px;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: var(--color-fuente2);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

.col-home-img {
  padding-right: 0px;
}

.rounded-6 {
  border-radius: 20px 0px 20px 0px !important;
}

.button {
  --color: #00a97f;
  padding: 0.2em 0.5em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  border: 1px solid;
  font-family: inherit;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}
